body,html{
    margin: 0;
    padding: 0;
    background: rgb(79,107,249);
    background: radial-gradient(circle, rgba(79,107,249,1) 0%, rgba(172,48,74,1) 100%);
    }

    .git_logo{
        width: 50px;
        height: 50px;
        float: right;
        position: absolute;
        right: 10px;
        top: 10px;

    }

    .result{
        color: white;
        font-size: 25px;
        border: 1px solid white;
        border-radius: 10px;
        width: 250px;
        height: 30px;
        text-align: justify;
        display: block;
        margin-left: auto;
        margin-right: auto;
        padding: 5px;
    }

    .title{
        color: white;
        font-size: 40px;
        font-family: 'Courier New', Courier, monospace;
        font-style: italic;
        text-align: center;
    }

    .main{
        text-align: center;
    }

    button{
        width: 50px;
        height: 40px;
        border: none;
        border-radius: 20px;
        margin: 5px;
        font-weight: bold;
    }

    button:hover{
        border: 1px solid #171F30;
        opacity: 0.8;
    }

    .keyboard{
        margin-top: 30px;
    }

    .btn_error{
        width: 40px;
        height: 20px;
        text-align: center;
        font-weight: bold;
        background-color: red;
        color: black;

    }

    .error{
        text-align: center;
        margin-left: auto;
        margin-right: auto;
        padding: 1px;
        color: white;
        border-radius: 20px;
        background-color: #171F30;
        width: 300px;
        display: none;
    }

    #zero{
        width: 105px;
    }
